@page
@model RecordStore.Pages.Associate.DeleteAssociateModel
@{
}
<form method="post">
    <input hidden asp-for="Associate.AssociateID" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Delete Associate</h2>
			<hr />
         </div>

    <div class="mb-3">
			<label asp-for="Associate.FirstName">First Name</label>
			<input asp-for="Associate.FirstName" disabled class="form-control" required/>
		</div>
    <div class="form-group">
        <label asp-for="Associate.LastName">Last Name</label>
		<input asp-for="Associate.LastName" disabled class="form-control" required/>
    </div>

    <div class="form-group">
       <label asp-for="Associate.HourlyRate">Hourly Rate</label>
	   <input asp-for="Associate.HourlyRate" disabled class="form-control" required/>
    </div>
    <div class="form-group">
       <label asp-for="Associate.SSN">SSN</label>
	   <input asp-for="Associate.SSN" disabled class="form-control" required />
    </div>
     <div class="form-group">
       <label asp-for="Associate.DoB">Date of Birth</label>
	   <input asp-for="Associate.DoB" disabled class="form-control" required/>
    </div>

     <div class="form-group">
       <label asp-for="Associate.StoreID">StoreId</label>
	   <input asp-for="Associate.StoreID" disabled class="form-control" required/>
    </div><br />
    <div class="form-group">
       <label asp-for="Associate.Email">Email</label>
	   <input asp-for="Associate.Email" disabled class="form-control" required/>
    </div><br />
    <div class="form-group">
       <label asp-for="Associate.Password">Password</label>
	   <input asp-for="Associate.Password" disabled class="form-control" required/>
    </div><br />
    
    <button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
    <a asp-page="Associates" class="btn btn-secondary" style="width:150px;">Cancel</a>
  
    </div>
</form>

    
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}