@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="imgbox">
        <img  width="200" height="200" src="~/animated-music-image-0040.gif"/>
        
    </div>
</div>
