@page
@model RecordStore.Pages.Product.DeleteProductModel
@{
}
<form method="post">
    <input hidden asp-for="Product.ProductID" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Delete Product</h2>
			<hr />
         </div>

    <div class="mb-3">
			<label asp-for="Product.ProductName">First Name</label>
			<input asp-for="Product.ProductName" disabled class="form-control" required/>
		</div>
    <div class="form-group">
        <label asp-for="Product.Quantity">Last Name</label>
		<input asp-for="Product.Quantity" disabled class="form-control" required/>
    </div>

    <div class="form-group">
       <label asp-for="Product.Price">Salary</label>
	   <input asp-for="Product.Price" disabled class="form-control" required/>
    </div>

     <div class="form-group">
       <label asp-for="Product.StoreId">StoreId</label>
	   <input asp-for="Product.StoreId" disabled class="form-control" required/>
    </div><br />
   
    
    <button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
    <a asp-page="ProductInventory" class="btn btn-secondary" style="width:150px;">Cancel</a>
  
    </div>
</form>

    
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}