@page
@model RecordStore.Pages.Login.UserSettingModel
@{
}
<form method="post">
	<input hidden asp-for="Associate.AssociateID" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Edit Profile</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Associate.FirstName">First Name</label>
			<input asp-for="Associate.FirstName" class="form-control" maxlength="50" />
		</div>
		<div class="mb-3">
			<label asp-for="Associate.LastName">Last Name</label>
			<input asp-for="Associate.LastName" class="form-control" maxlength="50" />
		</div>
	<div class="mb-3">
			<label asp-for="Associate.HourlyRate">Email</label>
			<input asp-for="Associate.HourlyRate" class="form-control" maxlength="100" />
		</div><div class="mb-3">
			<label asp-for="Associate.SSN">Email</label>
			<input asp-for="Associate.SSN" class="form-control" maxlength="100" />
		</div>
		<div class="mb-3">
			<label asp-for="Associate.DoB">Email</label>
			<input asp-for="Associate.DoB" class="form-control" maxlength="100" />
		</div>
		<div class="mb-3">
			<label asp-for="Associate.StoreID">Email</label>
			<input asp-for="Associate.StoreID" class="form-control" maxlength="100" />
		</div>
		<div class="mb-3">
			<label asp-for="Associate.AssociateID">Password</label>
			<input type="password" asp-for="Associate.Password" class="form-control" maxlength="5" />
		</div>
		<div class="mb-3">
			<label asp-for="Associate.Password">Password</label>
			<input type="password" asp-for="Associate.Password" class="form-control" maxlength="5" />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}