@page
@model RecordStore.Pages.Login.LoginModel
@if(TempData["success"] != null)
{
	<h2>@TempData["success"]</h2>
}



<div class="container border" style="padding:20px">
	<form method="post">
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="for-group row">
			<div class="col-2">
				<label asp-for="Credential.Email"><b>Email</b></label>
			</div>
			<div class="col-5">
				<input type="text" placeholder="Enter email"  asp-for="Credential.Email" class="form-control"/>

			</div>
			<span class="text-danger" asp-validation-for="Credential.Email"></span>
		</div>
		<br />
		<div class="for-group row">
			<div class="col-2">
				<label asp-for="Credential.Password"><b>Password</b></label>
			</div>
			<div class="col-5">
				<input type="password" placeholder="Enter password" asp-for="Credential.Password" class="form-control"/>
			</div>
			<span class="text-danger" asp-validation-for="Credential.Password"></span>
		</div>


		<div class="for-group row">
			<div class="col-2">
				<input type="submit" class="btn btn-primary" value="Login" >
			</div>
			<div class="col-5">
			
			</div>
		</div>
	</form>
</div>